/* fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #FFF5E7; */
}

* {
  font-family: "Manrope";
  font-weight: 500;
  letter-spacing: -0.02rem !important;
}

.heading {
  font-family: "DM Serif Display";
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset !important;
  box-shadow: 0 0 0 30px #f3f3f3 inset !important;
}

* {
  text-underline-offset: 2px;
  text-decoration-color: #12121250;
}

/* .swiper-container,.swiper-pagination {
  overflow: visible !important;
position: absolute !important;
  bottom: -30px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  z-index: 10 !important;
}

.swiper-pagination-bullet {
  background-color: #000;
  width: 12px;
  height: 12px;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: #ff0000;
  opacity: 1;
} */

@layer base {
  img {
    display: initial;
  }
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
}

textarea {
  resize: none;
}